* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  margin-top: 0;
}


.name-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.mat-form-field {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

input {
  min-width: 220px;
}

button {
  background: linear-gradient(#5a7b5e, #53c481);
  width: 8em;
  color: white;
  letter-spacing: 0.11em;
  font-weight: bold;
}

.deny {
  background: linear-gradient(#9a1c1c, #df2a2a);
  width: 8em;
  color: white;
  letter-spacing: 0.11em;
  font-weight: bold;
}