<div class="container">
  <h1>{{ 'maincomponent.claim' | translate}}</h1>
  <div class="list-container">
    <div class="form-container column-container">
      <div class="form">
        <h2>{{'maincomponent.addsong' | translate}}</h2>

        <mat-card>
          <!-- Form fields for the songs -->
          <form [formGroup]="formGroup">
            <span>{{'common.songname' | translate}}</span>
            <input type="text" name="name" formControlName="name" placeholder="Ej: I'm a sheep" required>
            <span>{{'common.duration' | translate}}</span>
            <input type="text" name="name" formControlName="duration" placeholder="Ej: 01:37" [textMask]="{mask: mask}" required>
            <button [disabled]="!formGroup.valid" (click)="submitSong($event)">{{'common.save' | translate}}</button>
          </form>
        </mat-card>
      </div>
    </div>

    <div class="todo-container column-container">
      <!-- Song list -->
      <div class="list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="songs"
        [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="onDrop($event)">
        <div class="setlist-name">
          <h2>{{ setListName }}</h2>
          <button (click)="editSetName()"><img src="../assets/imgs/edit-16.png"></button>
        </div>
        <mat-card *ngIf="songs.length === 0">
          <mat-card-header>
            <mat-card-title>{{ 'maincomponent.add' | translate}}</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-card *ngFor="let song of songs" cdkDrag cdkDragBoundary=".todo-container">
          <mat-card-header *ngIf="songs.length > 0">
            <mat-card-title class="title-wrapper">
              <h3>{{song.name}}</h3>
            </mat-card-title>
            <mat-card-subtitle>{{song.duration}}</mat-card-subtitle>
            <button class="delete-song" (click)="deleteChosenSong($event)">{{'common.delete' | translate}}</button>
          </mat-card-header>
        </mat-card>
      </div>
      <!-- Conditional divs for timer-related alerts -->
      <div class="time-alert" *ngIf="timeAlmostOut || notEnoughTime">
        <div class="almost-out" *ngIf="timeAlmostOut && !notEnoughTime">
          <span class="alert">{{'maincomponent.timealmostout' | translate}}</span>
        </div>
        <div class="time-out" *ngIf="notEnoughTime">
          <span class="alert">{{'maincomponent.woops' | translate}}</span>
          <br>
          <span>{{'maincomponent.notimeleft' | translate}}</span>
      </div>
    </div>
    <!-- Counter that keeps track of the time remaining at every moment -->
    <div class="time-counter" *ngIf="!notEnoughTime">
      <span>{{'maincomponent.timeremaining' | translate}}: {{timeToPlayString}} mins</span>
    </div>
    <!-- Button to clear the list and reset the timer. Will display a modal -->
    <div class="clear-setlist" *ngIf="songs.length > 0">
      <button class="purge" (click)="openConfirmModal()">{{'maincomponent.delete_set' | translate}}</button>
      <button class="purge" (click)="redirectToSetViewer()">{{'common.finish' | translate}}</button>
    </div>
  </div>
</div>