.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  height: 2rem;
  background-color: darkslategray;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

span {
  padding-left: 50px;
}

.hidden {
  display: none;
}