<app-header></app-header>
<div class="container">

  <h1>{{title}}</h1>

  <div class="list-container">
    <div class="form-container column-container">
      <div class="form">
        <h2>Add Songs</h2>

        <mat-card>
          <form [formGroup]="formGroup">
            <span>Song name</span>
            <input type="text" name="name" formControlName="name" placeholder="Ej: I'm a sheep" required>
            <span>Duration</span>
            <input type="text" name="name" formControlName="duration" placeholder="00:00" required>
            <button [disabled]="!formGroup.valid" (click)="submitSong($event)">Save</button>
          </form>
        </mat-card>
      </div>
    </div>

    <div class="todo-container column-container">
      <div class="list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="songs"
        [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="onDrop($event)">
        <h2>Set</h2>
        <mat-card *ngIf="songs.length === 0">
          <mat-card-header *ngIf="songs.length === 0">
            <mat-card-title>Add some songs here</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-card *ngFor="let song of songs" cdkDrag cdkDragBoundary=".todo-container">
          <mat-card-header *ngIf="songs.length > 0">
            <mat-card-title>{{song.name}}</mat-card-title>
            <mat-card-subtitle>{{song.duration}}</mat-card-subtitle>
            <button class="delete-song" (click)="deleteChosenSong($event)">Delete</button>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="time-counter">
        <span>Time left: {{timeToPlay}} mins</span>
      </div>
    </div>
  </div>
</div>
