<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 mat-dialog-title>{{ 'timermodal.welcome' | translate }}</h1>
  <div mat-dialog-content>
    <p>{{ 'timermodal.timeinput' | translate }}</p>
    <span>{{ 'timermodal.instructions' | translate }}</span>
    <br>
    <div class="timer-input">
      <mat-form-field>
        <input matInput name="initialTime" formControlName="initialTime" [textMask]="{mask: mask}" placeholder="Ej: 65">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" [disabled]="!form.valid">{{ 'common.confirm' | translate }}</button>
  </div>
</form>
