button {
  background: linear-gradient(#5a7b5e, #53c481);
  width: 8em;
  color: white;
  letter-spacing: 0.11em;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.deny {
  background: linear-gradient(#9a1c1c, #df2a2a);
  width: 8em;
  color: white;
  letter-spacing: 0.11em;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}