* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  background: linear-gradient(#5a7b5e, #53c481);
  width: 8em;
  color: white;
  letter-spacing: 0.11em;
  font-weight: bold;
}

.deny {
  background: linear-gradient(#9a1c1c, #df2a2a);
  width: 8em;
  color: white;
  letter-spacing: 0.11em;
  font-weight: bold;
}