<div class="container">
  <div class="toolbar">
    <button routerLink="/">{{'common.back' | translate }}</button>
    <button (click)="toggleSongTimes()">{{ toggleIndividualTimer }}</button>
  </div>
  <div class="translate">
    <app-translate></app-translate>
  </div>
  <div class="finished_setlist">
    <div class="title">
      <h2>{{setName}}</h2>
    </div>
    <div class="songs">
      <div class="songlist" *ngFor="let song of fullsonglist">
        <h3>{{song.name}}</h3>
        <p [ngClass]="{'hidesongtimer': !singleTimesShown}">{{song.duration}}</p>
      </div>
    </div>
    <div class="time-available">
      {{setTime}} {{ 'common.mins' | translate }}
    </div>
    <span>{{ 'action.made_by' | translate }}</span>
  </div>
</div>
